/bootstrap/compiled.php
/vendor


/build/logs
/build/coverage


/app/tests/_log


composer.phar


.DS_Store


/.idea
/_ide_helper.php


/app/config/packages
/public/packages


/node_modules
composer.lock

public/tableroKanban/php-includes/connect.inc.php

.env.example

.env

public/mapa/php-includes/connect.inc.php

composer.lock

*.lock
