body {
    margin: 0;
}
*{
    border:0;
}
ul{
    border: none;
}
h1 {
    font-family: sans-serif;
    margin: 0;
    padding: 5px 0 5px 10px;
    background-color: #ffffff;
    color: black;
    height: 50px;
}

h2 {
    color: #1B6AAA;
    padding-bottom: 5px;
}

#backlog-tablero, #pendientes-tablero, #proceso-tablero, #finalizadas-tablero{
    background-color: #F5F5DC;
}

ul {
    border: none;
    border-radius: 10px;
    list-style: none;
    padding: 0;
}

li {
    font-size:12px;
    font-weight: bold;
    text-align:center;
    border-radius: 10px;
    border: 2px solid black;
    padding: 0 10px;
    height: 50px;
    line-height: 25px;
}

li:nth-child(odd) {
    background-color: #CCC;
}

li:nth-child(even) {
    background-color: white;
}

li:hover {
    cursor: move;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: 600px;
    overflow-y: auto;
}
#nombre-estado{
    color: #1B6AAA;
    margin: 0;
    vertical-align: middle;
    padding-left: 0;
    padding-right: 0
}
#cambia-estado{
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    vert-align: middle;
}
#tituloCaso{
    margin: 0;
    vertical-align: middle;
}
#areaTareas{
    background-color: #F5F5DC;
}
#columnaEnunciadoEstado{
    margin:0;
    padding: 0;
    vertical-align: middle;
}
#datosEstadoCaso{
    vertical-align: middle;
}